<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<head>
  <!-- MAIN CSS -->
  <link rel="stylesheet" href="css/stylecreate.css">
  <meta charset="UTF-8">
  <!---<title> Responsive Registration Form | CodingLab </title>--->
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
  <div class="title">Creer un compte</div>
  <div class="content">

    <form  th:method="post"   th:action="@{/enregistreruser}"  th:object="${userDTO}">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Nom</span>
          <input type="text"  th:field="*{nom}" name="nom">
        </div>
        <div class="input-box">
          <span class="details">Prenom</span>
          <input type="text" placeholder="Entrer votre prenom" name="prenom" th:field="*{prenom}" >
        </div>
        <div class="input-box">
          <span class="details">Email</span>
          <input type="email" placeholder="Entrer votre email" name="email" th:field="*{email}" >
        </div>
        <div class="input-box">
          <span class="details">Numero de telephone</span>
          <input type="text" placeholder="Entrer votre numero de telephone" name="numero" th:field="*{numero}" >
        </div>
        <div class="input-box">
          <span class="details">Mot de passe</span>
          <input type="password" placeholder="Entrer votre mot de passe" name="motdepasse" th:field="*{motdepasse}">
        </div>
        <div class="input-box">
          <span class="details">Confirmation de mot de passe </span>
          <input type="text" placeholder="confirmer votre mot de passe " required >
        </div>
      </div>

        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">

          <span class="gender-title">Genre</span>
          <div class="category">
            <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">Masculin</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Feminin</span>
            </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
    </form>
  </div>
</div>

</body>
</html>